<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head'); %>
   </head>
   <body class="container">
      <header><%- include('../partials/header'); %></header>

      <main>
         <div class="jumbotron-fluid py-4 d-inline justify-content-center">
            <h1 class="display-4 text-center">Welcome to Dawnz Cafè</h1>
            <img
               class="mx-auto mt-3 rounded-circle"
               src="images/herbal-expresso.jpg"
               alt="Card image cap"
               style="width: 100%; height: 350px; object-fit: contain"
            />
         </div>
         <div class="d-flex py-5 justify-content-center lead">
            Your Coffee is just a Click away
         </div>
      </main>

      <footer><%- include('../partials/footer'); %></footer>
   </body>
</html>
